<div class="menuItem">
  <div class="selectedLeftItem"></div>
  <div class="selectedCenterItem" (click)="showCategories()">
    <h6>Categories</h6>
  </div>
  <div class="selectedRightItem"></div>
</div>
<div class="menuItem">
  <div class="leftPart"></div>
  <div class="centerPart" (click)="showProducts()">
    <h6>Products</h6>
  </div>
  <div class="rightPart"></div>
</div>
<div class="menuItem">
  <div class="leftPart"></div>
  <div class="centerPart">
    <h6>Restaurant Review</h6>
  </div>
  <div class="rightPart"></div>
</div>
<div class="menuItem">
  <div class="leftPart"></div>
  <div class="centerPart">
    <h6>Product Review</h6>
  </div>
  <div class="rightPart"></div>
</div>
<div class="menuItem">
  <div class="leftPart"></div>
  <div class="centerPart" (click)="changePassword()">
    <h6>Password</h6>
  </div>
  <div class="rightPart"></div>
</div>
<div class="menuItem">
  <div class="leftPart"></div>
  <div class="centerPart" (click)="showLanguage()">
    <h6>Language</h6>
  </div>
  <div class="rightPart"></div>
</div>
  