<ion-card class="mainContainer" *ngFor="let product of foodList">
  <img *ngIf="product.photo" src='http://ace.iraq-soft.info/public/images/{{product.photo}}' class="foodimg">
  <div class="datacontainer">
    <h1>{{product.name}}</h1>
    <h6 [innerHTML]="product.description" class="desc"></h6>
    <div class="pricecontainer">
      <div class="btn">
        <h6>{{product.price}}</h6>
      </div>
      <div class="reviewcontainer">
        <div>
          <h6 class="timeLabel">Preparing Time <span class="time">{{product.time}} Minutes</span></h6>
        </div>
        <div class="makeReview">
          <label class="review">Make a Review</label>
        </div>
      </div>
    </div>
  </div>
</ion-card>