<ion-content>
  <div id="left">
    <label id="logout" (click)="logout()">تسجیل خروج</label>
    <div id="container" scrollY="true">
         <!-- <app-categories></app-categories> -->
         <h2  *ngIf="selectedPage == 'categories'; then categories else products"></h2>
    <ng-template #categories>
      <!-- <p>{{selectedPage}}</p> -->
      <app-categories></app-categories>
    </ng-template>
    <ng-template #products>
      <app-products></app-products>
      <!-- <p>{{selectedPage}}</p> -->
    </ng-template>
    </div>
  </div>
  <div id="right">
    <div id="logoContainer">
      <img src="/assets/icon/logo.png" id="logo">
    </div>
    <div scrollY="true" id="menu">
      <!-- <app-adminmenu></app-adminmenu> -->

      <div class="menuItem">
          <div class="selectedLeftItem"></div>
          <div class="selectedCenterItem" (click)="showCategories()">
            <h6>Categories</h6>
          </div>
          <div class="selectedRightItem"></div>
        </div>
        <div class="menuItem">
          <div class="leftPart"></div>
          <div class="centerPart" (click)="showProducts()">
            <h6>Products</h6>
          </div>
          <div class="rightPart"></div>
        </div>
        <div class="menuItem">
          <div class="leftPart"></div>
          <div class="centerPart">
            <h6>Restaurant Review</h6>
          </div>
          <div class="rightPart"></div>
        </div>
        <div class="menuItem">
          <div class="leftPart"></div>
          <div class="centerPart">
            <h6>Product Review</h6>
          </div>
          <div class="rightPart"></div>
        </div>
        <div class="menuItem">
          <div class="leftPart"></div>
          <div class="centerPart" (click)="changePassword()">
            <h6>Password</h6>
          </div>
          <div class="rightPart"></div>
        </div>
        <div class="menuItem">
          <div class="leftPart"></div>
          <div class="centerPart" (click)="showLanguage()">
            <h6>Language</h6>
          </div>
          <div class="rightPart"></div>
        </div>
          



    </div>
  </div>
</ion-content>