#item{
    background-color: #fff;
    width: 19.5%;
    margin: 0;
    float: left;
    margin-right:0.25%;
    height: 230px;
    border-radius: 15px;
    margin-bottom:10px;
    position: relative;
}

.itemImg{
    border-radius: 18px;
    margin: 0;
    margin-top:10px;
    margin-left: 5%;
    margin-right: 5%;
    height:58% !important; 
    width: 90%;
    object-fit:fill;
}

#itemContent{
    padding: 0px !important;
    height: 100% !important;
}

.itemName{
    text-align: center;
    font-weight: bold;
    color:#6f6f65;
    width: 100%;
    direction: rtl;
    margin-top: 10px;
}

.priceContainer{
    background-color: #c5b591;
    width: 80%;
    height: 37px;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top:9px;
}

.offerpriceContainer{
    background-color: #df2b2a;
    width: 80%;
    height: 37px;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top:9px;
}

.price, .offerPrice{
    text-align: center;
    color: #6b553d;
    font-weight: bold;
    
}

.offerPrice{
    color: #fff;
}

.discount{
    width: 25%;
    left: 15px;
    position: absolute;
    z-index: 1000;
}