.menuItem{
    height: 45px;
    padding:0 !important;
    position: relative;
}

.centerPart, .selectedCenterItem{
    width: 70%;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 15px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}

.centerPart h6, .selectedCenterItem h6{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: 0px;
    color: #494641;
  }

  .leftPart, .selectedLeftItem{
    width: 15%;
    background-color: #ededed;
    height: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    position: absolute;
    top: 11px;
  }

  .rightPart, .selectedRightItem{
    top: 11px;
    width: 15%;
    background-color: #ededed;
    height: 10px;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    right: 0px;
  }

  .selectedLeftItem, .selectedRightItem{
    background-color: #c5b591;
}

.selectedCenterItem{
    border: 1px solid #c5b591;
}
