<div id="container">
  <div id="top">
    <div id="btn" (click)="addCategory()">
      <h3>Add Categories</h3>
    </div>
    <h1>Categories</h1>
  </div>
  <div id="data_table">
    <table>
      <tr id="header">
        <th class="categoryName">Category Name</th>
        <th class="sort">Sort</th>
        <th class="action">Action</th>
      </tr>
      <tr *ngFor="let category of categoryList">
        <td class="categoryName">{{category.name}}</td>
        <td class="sort">{{category.sort}}</td>
        <td class="action"><span style="color:#d54896;">Edit</span><span style="color:#f17c15;">Delete</span></td>
      </tr>
    </table>
  </div>
</div>