#container{
    width: 100%;
    height: 100%
}

#top{
    width: 100%;
    height: 80px;
    position: relative;
}

#top div{
    width: 150px;
    height: 40px;
    background-color: #c7b688;
    border-radius: 20px;
    position: absolute;
    left: 30px;
    top: 15px;
    padding: 10px;
}

#top div h3{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#top h1{
    position: absolute;
    right: 30px;
    color: #d2d1cd;
    font-weight: bolder;
}

#data_table{
    direction: rtl;
    width: 100%;
}

#data_table table{
    width: 100%;
    background-color: #fff;
}

#data_table table tr{
    height: 40px;
}

#header{
    border-bottom: 7px solid #f7f7f7;
}

.categoryName{
    width: 35%;
    text-align: center;
    font-size: 14px;
    padding-right: 15px;
    color: #cacac8;
}

.sort{
    width: 20%;
    font-size: 14px;
    color: #cacac8;
    text-align: center;
}

.action{
    width: 45%;
    font-size: 14px;
    color: #cacac8;
    text-align: center;
}

#data_table span{
    margin-left:15px;
    margin-right: 10px;
}

#data_table table td{
    color:#737369;
    font-weight: bold;
}

.alertClass{
    background-color: red;
}