<div id="container">
  <div id="top">
    <h1>Restaurant Review</h1>
  </div>
 
    <div id="subject">
        <span class="no">No.</span>
        <span class="review">Review</span>
        <span class="details">Details</span>
    </div>
      <div id="data_table"  scrollY="true">
      <table>
        <tr *ngFor="let product of [1,1,1,1,1]" >
          <td class="no">1</td>
          <td class="review">Great</td>
          <td class="details">That was a good food, thanks :)</td>
        </tr>
      </table>
    </div>
</div>